* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}
body {
  font-family: "Nunito Sans";
  a {
    color: black;
  }
}
body.dark {
  color: white;
  background-color: rgb(32, 44, 55);
  a {
    color: white;
  }
  input {
    color: white;
    &::placeholder {
      color: white;
    }
  }
  .search-bar,
  .header,
  .card,
  .dropdown,
  .hidden {
    background-color: rgb(43, 57, 69);
  }
  .filter-btn {
    color: white;
  }
  .border-btn {
    color: white;
  }
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100px;
  }
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
}
.header {
  padding: 25px 0;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.123);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 30px;
  h1 {
    font-weight: 800;
    font-size: 1.55rem;
  }
  i {
    font-size: 1rem;
  }
  h3 {
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
  }
}
.container {
  max-width: 1300px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 130px;
}
button {
  background: none;
  border: none;
  outline: none;
}
.shown {
  display: flex;
  cursor: pointer;
  user-select: none;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 15px 23px;
  p {
    font-size: 0.9rem;
    font-weight: 700;
  }
}
.dropdown {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.123);
  border-radius: 7px;
  max-height: 50px;
  position: relative;
  width: 220px;
}
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-btn {
  display: block;
  padding: 7px 15px;
}
.hidden {
  margin-top: 20px;
  padding: 10px 0;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.088);
  transform: scale(0);
  transform-origin: 0 0;
  z-index: 12;
  position: absolute;
  top: 45px;
  left: 0;
  background: #fff;
  border-radius: 7px;
  width: 100%;
  transition: transform 0.5s ease;
  button {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
}
.hidden.true {
  transform: scale(1);
  button {
    opacity: 1;
  }
}
.search-bar {
  padding: 11px 25px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.123);
  align-items: center;
  border-radius: 7px;
  width: 40%;
  display: flex;
  i {
    opacity: 0.7;
  }
}
input {
  border: none;
  outline: none;
  margin-left: 30px;
  height: 100%;
  width: 100%;
  background: none;
  padding: 8px 0;
  &::placeholder {
    font-weight: 500;
    font-size: 13px;
  }
}
img {
  width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.card {
  max-width: 270px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.123);
  border-radius: 7px;
  transition: all 0.3s ease;
  margin: 0 auto;
  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  }
  img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    height: 180px;
    object-fit: cover;
  }
}
.light {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.text {
  padding: 20px 17px;
  h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 800;
  }
  h5 {
    font-size: 0.9rem;
    line-height: 23px;
  }
}
.countries {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 30px;
}
.trash {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  i {
    font-size: 1.5rem;
  }
}
.custom-text {
  h2 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 25px;
  }
}
.custom-cont {
  .back-btn {
    margin: 50px 0;
    font-size: 19px;
    font-weight: 400;
    i {
      margin-right: 15px;
    }
  }
}
.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;
  margin-top: 30px;
  margin-bottom: 50px;
  img {
    border-radius: 10px;
    height: 380px;
    transition: all 0.3s ease;
    object-fit: cover;
    &:hover {
      transform: scale(1.03);
    }
  }
}
.border {
  display: flex;
  align-items: center;
  h4 {
    margin-right: 10px;
  }
}
.trash.dead {
  display: none;
}
.tc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  h5 {
    font-size: 1rem;
    line-height: 35px;
  }
}
button {
  cursor: pointer;
}
.border-btn {
  border: 1px solid grey;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
// media queries
@media (max-width: 1050px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
  .custom-grid {
    grid-template-columns: 1fr;
    gap: 50px;
    img {
      height: initial;
    }
  }
  .custom-text {
    h2 {
      font-weight: 800;
      font-size: 1.7rem;
      margin-bottom: 25px;
    }
  }
  .tc {
    h5 {
      font-size: 0.9rem;
      line-height: 30px;
    }
  }
}
@media (max-width: 750px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .header h1 {
    font-size: 1.3rem;
  }
  .filter {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }
  .search-bar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .dropdown {
    width: 250px;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .header h1 {
    font-size: 1.2rem;
  }
  .countries {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 370px) {
  .header h1 {
    font-size: 1rem;
  }
  .header h3 {
    font-size: 14px;
  }
}
